Smart-opportunities.json
{
  "name": "Smart Opportunities",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a566c3ff-782d-44de-9e52-e9972cb027e4",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        240
      ],
      "webhookId": "a566c3ff-782d-44de-9e52-e9972cb027e4"
    },
    {
      "parameters": {
        "code": "// Parse simple input like: \"restaurant, cairns\" or \"gym, melbourne\" or \"coffee shop, sydney, 5\"\nconst webhookData = $input.first().json;\n// Extract message from multiple possible formats\nconst userInput = (\n  webhookData.body?.message || \n  webhookData.body?.chatInput || \n  webhookData.body?.body?.chatInput ||  // Handle test data format\n  webhookData.message || \n  webhookData.chatInput ||\n  (Array.isArray(webhookData.body?.body) ? webhookData.body.body[0]?.chatInput : null) ||\n  (Array.isArray(webhookData.body) ? webhookData.body[0]?.chatInput : null) ||\n  (Array.isArray(webhookData) ? webhookData[0]?.chatInput : null) ||\n  ''\n).trim();\n\nif (!userInput) {\n  return { error: 'Please provide input like: restaurant, cairns' };\n}\n\n// Split by comma, semicolon, or pipe - flexible delimiters\nconst parts = userInput.split(/[,;|]/).map(part => part.trim()).filter(part => part.length > 0);\n\nif (parts.length < 2) {\n  return { error: 'Please provide both business type and city. Format: restaurant, cairns' };\n}\n\n// Extract parts\nconst businessType = parts[0];\nconst city = parts[1];\n\n// Optional: extract limit from 3rd part or look for numbers in any part\nlet limit = 50; // default\nlet country = 'au'; // default to Australia\n\n// Check if 3rd part is a number (limit)\nif (parts[2]) {\n  const thirdPart = parts[2].toLowerCase().trim();\n  const numMatch = thirdPart.match(/^(\\\\d+)$/);\n  if (numMatch) {\n    limit = Math.min(Math.max(parseInt(numMatch[1]), 1), 20); // Max 20 to prevent huge responses\n  } else {\n    // If 3rd part isn't a number, maybe it's a country code\n    if (thirdPart.length <= 3) {\n      country = thirdPart;\n    }\n  }\n}\n\n// Check if 4th part exists (could be country if 3rd was limit)\nif (parts[3]) {\n  const fourthPart = parts[3].toLowerCase().trim();\n  if (fourthPart.length <= 3) {\n    country = fourthPart;\n  }\n}\n\n// Also check for numbers anywhere in the input for limit\nconst allText = userInput.toLowerCase();\nconst limitMatch = allText.match(/\\\\b(\\\\d+)\\\\s*(?:results?|leads?|businesses?)\\\\b/);\nif (limitMatch && !parts[2]) {\n  limit = Math.min(Math.max(parseInt(limitMatch[1]), 1), 20); // Max 20\n}\n\n// Check for country codes mentioned anywhere\nconst countryPatterns = {\n  'australia': 'au', 'au': 'au', 'aus': 'au',\n  'usa': 'us', 'us': 'us', 'america': 'us', 'united states': 'us',\n  'canada': 'ca', 'ca': 'ca', 'can': 'ca',\n  'uk': 'gb', 'gb': 'gb', 'united kingdom': 'gb', 'britain': 'gb',\n  'nz': 'nz', 'new zealand': 'nz'\n};\n\nfor (const [pattern, code] of Object.entries(countryPatterns)) {\n  if (allText.includes(pattern) && !parts[2] && !parts[3]) {\n    country = code;\n    break;\n  }\n}\n\nreturn {\n  business_type: businessType,\n  city: city,\n  country: country,\n  limit: limit,\n  original_input: userInput,\n  parsed_parts: parts\n};"
      },
      "id": "input-parser",
      "name": "Input Parser",
      "type": "@kenkaiii/n8n-nodes-supercode.superCodeNodeVmSafe",
      "typeVersion": 1,
      "position": [
        464,
        144
      ]
    },
    {
      "parameters": {
        "code": "// Get parsed parameters from previous node\nconst params = $input.first().json;\n\n// Handle error case\nif (params.error) {\n  return params;\n}\n\nconst businessType = params.business_type;\nconst city = params.city;\nconst country = params.country;\nconst limit = params.limit;\n\n// Step 1: Geocode the city to get lat/lng\nconst geocodeUrl = `https://nominatim.openstreetmap.org/search?q=${encodeURIComponent(city)}&format=json&limit=1&countrycodes=${country}`;\n\ntry {\n  const geocodeResponse = await axios.get(geocodeUrl, {\n    headers: { \n      'User-Agent': 'LeadGenerator/1.0',\n      'Accept-Language': 'en'\n    }\n  });\n\n  if (geocodeResponse.data.length === 0) {\n    return {\n      error: `Could not find location: ${city} in ${country.toUpperCase()}. Try a different city or country code.`,\n      original_input: params.original_input,\n      tried_geocode: geocodeUrl\n    };\n  }\n\n  const location = geocodeResponse.data[0];\n  const lat = parseFloat(location.lat);\n  const lng = parseFloat(location.lon);\n\n  // Step 2: Search for businesses using RapidAPI Maps with STRICT limits\n  const mapsOptions = {\n    method: 'GET',\n    url: 'https://maps-data.p.rapidapi.com/searchmaps.php',\n    params: {\n      query: businessType,\n      limit: Math.min(limit, 50).toString(), // Force maximum 50 results\n      country: country,\n      lang: 'en',\n      lat: lat.toString(),\n      lng: lng.toString(),\n      offset: '0',\n      zoom: '13'\n    },\n    headers: {\n      'x-rapidapi-key': 'insert your api key here',\n      'x-rapidapi-host': 'maps-data.p.rapidapi.com'\n    }\n  };\n\n  const mapsResponse = await axios.request(mapsOptions);\n  const businesses = mapsResponse.data;\n  \n  // DEBUG: Check response structure\n  if (!businesses || !businesses.data) {\n    return {\n      error: 'Invalid API response structure',\n      debug_info: {\n        has_businesses: !!businesses,\n        businesses_keys: businesses ? Object.keys(businesses) : [],\n        response_type: typeof businesses\n      }\n    };\n  }\n\n  // SAFETY: Limit processing to prevent memory issues\n  const businessData = Array.isArray(businesses.data) ? \n    businesses.data.slice(0, 50) : // Take first 50 only\n    [];\n    \n  if (businessData.length === 0) {\n    return {\n      error: 'No businesses found for this search',\n      search_params: { businessType, city, country, limit },\n      api_response_size: businesses.data ? businesses.data.length : 0\n    };\n  }\n\n  // Step 3: Process results with SMART business opportunities\n  const leads = businessData.map(business => {\n    // Extract postal code based on country\n    let zip_code = null;\n    let state = null;\n    \n    if (business.full_address) {\n      if (country.toLowerCase() === 'au') {\n        const zipMatch = business.full_address.match(/(\\\\d{4})/);\n        zip_code = zipMatch ? zipMatch[1] : null;\n        const stateMatch = business.full_address.match(/\\\\b(VIC|NSW|QLD|WA|SA|TAS|ACT|NT)\\\\b/);\n        state = stateMatch ? stateMatch[1] : null;\n      } else if (country.toLowerCase() === 'us') {\n        const zipMatch = business.full_address.match(/(\\\\d{5}(-\\\\d{4})?)/);\n        zip_code = zipMatch ? zipMatch[1] : null;\n      } else {\n        const zipMatch = business.full_address.match(/(\\\\d{3,6})/);\n        zip_code = zipMatch ? zipMatch[1] : null;\n      }\n    }\n    \n    // Clean website URL\n    let website = business.website;\n    if (website && !website.startsWith('http')) {\n      website = `https://${website}`;\n    }\n    \n    const lead = {\n      business_name: business.name || null,\n      phone: business.phone_number || null,\n      email: null,\n      website: website || null,\n      address: business.full_address || null,\n      city: city,\n      state: state,\n      zip_code: zip_code,\n      country: country,\n      category: (business.types && business.types.length > 0) ? business.types[0] : businessType,\n      business_types: business.types || [businessType],\n      rating: business.rating ? parseFloat(business.rating) : null,\n      review_count: business.review_count || 0,\n      google_place_id: business.business_id || null,\n      latitude: business.latitude || lat,\n      longitude: business.longitude || lng,\n      created_at: dayjs().format('YYYY-MM-DD HH:mm:ss'),\n      lead_source: 'google_maps_api',\n      lead_status: 'new'\n    };\n\n    // Enhanced scoring\n    let score = 0;\n    if (!lead.website) score += 30;\n    if (!lead.phone) score += 25;\n    if (!lead.email) score += 20;\n    if (lead.rating && lead.rating >= 4.0) score += 10;\n    if (lead.review_count < 50) score += 10;\n    if (lead.category && lead.category.toLowerCase().includes(businessType.toLowerCase())) score += 5;\n    \n    lead.lead_score = score;\n    \n    if (score >= 60) lead.priority = 'high';\n    else if (score >= 40) lead.priority = 'medium';\n    else lead.priority = 'low';\n    \n    const qualifiers = [];\n    if (!lead.website) qualifiers.push('no_website');\n    if (!lead.phone) qualifiers.push('no_phone');\n    if (!lead.email) qualifiers.push('no_email');\n    if (lead.rating && lead.rating >= 4.5) qualifiers.push('high_rating');\n    if (lead.review_count < 20) qualifiers.push('low_reviews');\n    if (lead.review_count > 100) qualifiers.push('popular');\n    \n    // Add business type specific qualifiers\n    if (lead.website && (lead.website.includes('facebook') || lead.website.includes('instagram'))) {\n      qualifiers.push('social_only_website');\n    }\n    \n    lead.qualifiers = qualifiers.join(',');\n    \n    // SMART OPPORTUNITIES GENERATION - Based on what they HAVE vs NEED\n    const opportunities = [];\n    \n    // 1. WEBSITE OPPORTUNITIES - Smart logic based on current state\n    if (!lead.website) {\n      // No website = basic web services\n      opportunities.push('Website design and development');\n      opportunities.push('Google My Business setup and optimization');\n      opportunities.push('Basic SEO package');\n    } else if (lead.website.includes('facebook') || lead.website.includes('instagram')) {\n      // Social media as website = professional upgrade\n      opportunities.push('Professional website to replace social media presence');\n      opportunities.push('Custom domain and professional email setup');\n      opportunities.push('Brand identity and online presence upgrade');\n    } else {\n      // Has a website = improvement services\n      opportunities.push('SEO audit and optimization');\n      opportunities.push('Website redesign and modernization');\n      opportunities.push('Website speed and mobile optimization');\n      opportunities.push('Conversion rate optimization');\n    }\n    \n    // 2. COMMUNICATION OPPORTUNITIES\n    if (!lead.phone) {\n      opportunities.push('Business phone system setup');\n      opportunities.push('Professional phone number and call routing');\n    }\n    if (!lead.email) {\n      opportunities.push('Professional email setup and automation');\n      opportunities.push('Customer relationship management (CRM) system');\n    }\n    \n    // 3. REPUTATION OPPORTUNITIES\n    if (lead.rating && lead.rating < 4.0) {\n      opportunities.push('Reputation management and review improvement');\n      opportunities.push('Customer feedback and service improvement consulting');\n    } else if (lead.review_count < 50) {\n      opportunities.push('Review generation and management system');\n      opportunities.push('Customer feedback automation');\n    }\n    \n    // 4. BUSINESS TYPE SPECIFIC OPPORTUNITIES - Tailored to industry\n    const businessTypesLower = lead.business_types.map(type => type.toLowerCase());\n    \n    // RESTAURANTS & CAFES\n    if (businessTypesLower.some(type => type.includes('restaurant') || type.includes('cafe') || type.includes('coffee') || type.includes('bar'))) {\n      if (!lead.website) {\n        opportunities.push('Restaurant website with online menu');\n      } else {\n        opportunities.push('Online ordering system integration');\n        opportunities.push('Digital menu and QR code setup');\n      }\n      opportunities.push('Table reservation system');\n      opportunities.push('Social media marketing automation');\n    }\n    \n    // FITNESS & GYMS\n    else if (businessTypesLower.some(type => type.includes('gym') || type.includes('fitness') || type.includes('yoga'))) {\n      opportunities.push('Member management and billing system');\n      opportunities.push('Online class booking and scheduling');\n      opportunities.push('Fitness app or member portal');\n      opportunities.push('Personal trainer booking system');\n    }\n    \n    // MEDICAL & DENTAL\n    else if (businessTypesLower.some(type => type.includes('dentist') || type.includes('doctor') || type.includes('clinic') || type.includes('medical'))) {\n      opportunities.push('Online appointment booking system');\n      opportunities.push('Patient management system');\n      opportunities.push('Automated appointment reminders');\n      opportunities.push('HIPAA-compliant website and forms');\n    }\n    \n    // BEAUTY & SALONS\n    else if (businessTypesLower.some(type => type.includes('salon') || type.includes('spa') || type.includes('beauty') || type.includes('barber'))) {\n      opportunities.push('Online appointment booking system');\n      opportunities.push('Client management and history system');\n      opportunities.push('Before/after gallery for marketing');\n    }\n    \n    // RETAIL & ECOMMERCE\n    else if (businessTypesLower.some(type => type.includes('shop') || type.includes('store') || type.includes('retail') || type.includes('boutique'))) {\n      if (!lead.website) {\n        opportunities.push('E-commerce website development');\n      } else {\n        opportunities.push('E-commerce functionality integration');\n        opportunities.push('Online store optimization');\n      }\n      opportunities.push('Inventory management system');\n      opportunities.push('Customer loyalty program');\n    }\n    \n    // PROFESSIONAL SERVICES\n    else if (businessTypesLower.some(type => type.includes('lawyer') || type.includes('accountant') || type.includes('consultant'))) {\n      if (!lead.website) {\n        opportunities.push('Professional service website');\n      } else {\n        opportunities.push('Content marketing and blog setup');\n        opportunities.push('Lead generation landing pages');\n      }\n      opportunities.push('Client portal and document management');\n      opportunities.push('Online consultation booking');\n    }\n    \n    // Remove duplicates and limit to 8 most relevant\n    lead.business_opportunities = [...new Set(opportunities)].slice(0, 8);\n    \n    // Convert opportunities array to string for Excel compatibility\n    lead.opportunities_text = lead.business_opportunities.join('; ');\n    \n    return lead;\n  }).filter(lead => lead.business_name && lead.business_name.trim() !== '');\n\n  // Sort by lead score\n  leads.sort((a, b) => b.lead_score - a.lead_score);\n\n  return leads;\n  \n} catch (error) {\n  return {\n    error: `Search failed: ${error.message}`,\n    original_input: params.original_input,\n    search_params: {\n      business_type: businessType,\n      city: city,\n      country: country,\n      limit: limit\n    }\n  };\n}"
      },
      "id": "lead-searcher",
      "name": "Smart Lead Searcher",
      "type": "@kenkaiii/n8n-nodes-supercode.superCodeNodeVmSafe",
      "typeVersion": 1,
      "position": [
        688,
        144
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBm3OeF8mA2b3zw",
          "mode": "list",
          "cachedResultName": "Make me money",
          "cachedResultUrl": "https://airtable.com/appBm3OeF8mA2b3zw"
        },
        "table": {
          "__rl": true,
          "value": "tblW2fRo2WbvRetsF",
          "mode": "list",
          "cachedResultName": "$$$",
          "cachedResultUrl": "https://airtable.com/appBm3OeF8mA2b3zw/tblW2fRo2WbvRetsF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name": "={{ $json.business_name }}",
            "Number": "={{ $json.phone }}",
            "Website": "={{ $json.website }}",
            "Address": "={{ $json.address }}",
            "City": "={{ $json.city }}",
            "Category": "={{ $json.category }}",
            "Rating": "={{ $json.rating }}",
            "Reviews": "={{ $json.review_count }}",
            "Lead Score": "={{ $json.lead_score }}",
            "Opportunities": "={{ $json.opportunities_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reviews",
              "displayName": "Reviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Opportunities",
              "displayName": "Opportunities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        912,
        144
      ],
      "id": "e0ebd504-81fe-4262-84f1-5ef39df3a002",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "8P5GHXbHBv1hUDVA",
          "name": "Main"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        48
      ],
      "id": "a03180d9-8029-4541-a037-4dc55ad29141",
      "name": "When chat message received",
      "webhookId": "51784d72-e0f0-411d-ba65-28d22a8a3a4b"
    },
    {
      "parameters": {
        "content": "## Insert your API\n\n1. Open Smart Lead Searcher\n2. Scroll down til you see \"enter your API\"\n3. Replace with your own RapidAPI API key.",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        320
      ],
      "typeVersion": 1,
      "id": "59a9ff68-8c96-4425-9a9e-5aa0f3f31a37",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Connect your Airtable\n\n1. Connect your Airtable credentials\n2. Add the 'Base' and 'Table' as per the one downloaded.",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        -48
      ],
      "typeVersion": 1,
      "id": "9f86ac2e-04d0-4567-86bf-1060ebfdd9ab",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parser": {
      "main": [
        [
          {
            "node": "Smart Lead Searcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Lead Searcher": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4bc2430b-ea15-47e7-8025-19bf4baab2a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06e26b0d7e6948ba12652857e44e214004f1c7520cc3c8bf5c37d4f9af5a6f4f"
  },
  "id": "2VoHMbKqKgFNBzW0",
  "tags": []
}